.title {
  margin: 70px auto;
  color: $color-basic;
  font-size: 55px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 2px;
  &--image {
    display: block;
    width: 150px;
  }
}

.mobile .title {
  color: $color-second;
}