<div class="wrapper">
  <img src="../assets/hello-text.svg" class="title title--image animated" />
  <section class="description animated delay-2">
      <span>I’m Mateusz,</span><br>
      <span>Frontend Developer.</span><br>
      <span>This is SVG ships detector.</span><br>
      <span>Click, if you want to see</span><br>
      <span>the rest of my</span><br>
  </section>
  <a href="https://mateuszjs.github.io/" class="btn btn-tablet animated delay-4">
      Works
      <div class="btn__icon">
        <img  src="../assets/arrow.svg">
        <img  src="../assets/arrow.svg">
      </div>
  </a>
</div>
