@import 'settings/colors';
@import 'settings/fonts';
@import 'settings/breakpoints';

@import 'base/base';

@import 'components/button';
@import 'components/description';
@import 'components/title';
@import 'components/page';
@import 'components/wrapper';

@import 'trumps/animations.scss';

@import 'components/main-page';

.svg-container {
  position: fixed;
  bottom: 0;
  left: 0;
  transform-origin: 50% 100%;
  transition: opacity ease 0.5s,
              transform ease 0.5s;
  &:not(.active) {
      opacity: 0;
      transform: scale3d(1.2, 1.2, 1);
  }
}

body {
  height: 100vh;
  background : radial-gradient(farthest-corner at 50.75% 85.32%, #162259 0%, #081139 50%, #000214 100%)
}